.topbar {
  width: 100%;
  height: 50px;
  background-color: rgb(251, 251, 255);
  /* sticking it on top always, so no issues when scrolling */
  position: sticky;
  top: 0;
  /* over every element in app */
  z-index: 999;
}
.topbarWrapper {
  height: 100%;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 25px;
  font-weight: 600;
  color: purple;
  cursor: pointer;
}

.topBarIconLeft {
  margin-right: 5px;
}
.topBarIconRight {
  margin-left: 5px;
}

.text {
  color: purple;
  font-size: 20px;
  margin-left: 120px;
}
.topLeft {
  flex: 10;
  display: flex;
  align-items: center;
}

.topRight {
  display: flex;
  flex: 1.5;
  justify-content: space-between;
}

.link:hover {
  background-color: rgb(240, 240, 255);
}
