.topbar {
  width: 100%;
  height: 50px;
  background-color: rgb(251, 251, 255);
  /* sticking it on top always, so no issues when scrolling */
  position: sticky;
  top: 0;
  /* over every element in app */
  z-index: 999;
}
.topbarWrapper {
  height: 100%;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 25px;
  font-weight: bold;
  color: darkblue;
  cursor: pointer;
}

.topRight {
  display: flex;
}

.icon {
  margin-right: 10px;
}
