.container {
  display: flex;
  justify-content: space-between;
}

/* Disabling default style of Link React Router DOM Component */
/* Passing down style from root App component */
.link {
  text-decoration: none;
  /* Receive from its parent */
  color: inherit;
}
